.Achievements {
    margin: 0 auto;
    padding: 6rem;
}

.Achievements h1 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--primary-color);
}

.Achievements h1::after {
    display: block;
    content: "";
    height: 1px;
    background-color: var(--accent-color);
}

.Achievements h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

.Achievements .heading {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

.Achievements .item {
    line-height: 2.25rem;
}

.Achievements a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 0.15rem;
    transition-duration: 150ms;
}

.Achievements a:hover,
.Achievements a:active {
    text-underline-offset: 0.5rem;
}
