.Navbar {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1.25rem 2rem;
    background: var(--bg-color);
}

.Navbar .logo {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    letter-spacing: 0.15rem;
}

.Navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 0;
    align-items: center;
}

.Navbar ul li {
    color: var(--text-color);
    transition-duration: 150ms;
}

.Navbar ul li:hover {
    color: var(--accent-color);
}
