.main {
    min-height: 100vh;
    width: 100%;
}

.container {
    display: inline-block;
    width: 100%;
    margin-top: 24px;
    list-style-type: none;
}

.card {
    font-family: var(--font-mono);
    filter: brightness(0.85);
    margin: 24px 0 24px 20%;
    height: 128px;
    width: 100%;
    transform: translateX(10%);
    transition: all 250ms ease-out;
    border-radius: 5px;
}

.card a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.card:hover {
    transform: translateX(0%);
    filter: brightness(1.0);
    cursor: pointer;
}

.card * {
    color: inherit;
}

.card h1 {
    filter: brightness(4.0);
    font-size: 42px;
    padding-left: 16px;
    padding-top: 16px;
}

