@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --font-mono: 'Sometype Mono', monospace;
    --font-poppins: 'Poppins', sans-serif;
    /* --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    */

    --text-color: #CCCFD7;
    --bg-color: #080A0C;
    --primary-color: #C2E0FF;
    --secondary-color: #99CCFF;
    --accent-color: #940000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-size: 16px;
    max-width: 100vw;
    min-height: 100vh;

    counter-reset: section;
}

body {
    font-family: var(--font-poppins);
    background: var(--bg-color);
    color: var(--text-color);
}

/* Awards Colouring */
.BRONZE {color: #cd7f32;}
.GOLD, .DISTINCTION {color: #ffd700;}
.SILVER {color: #c0c0c0;}
.PLATINUM, .PERFECT, .HIGH {color: #B15EFF;}