@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");

:root {
    --font-mplus: "M PLUS 1 Code", monospace;

    --text-color: #cccfd7;
    --bg-color: #111827;
    --primary-color: #c2e0ff;
    --secondary-color: #99ccff;
    --accent-color: #940000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: var(--font-mplus);
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Achievements Award Colours */

.BRONZE {
    color: #cd7f32;
}

.GOLD,
.DISTINCTION {
    color: #ffd700;
}

.SILVER {
    color: #c0c0c0;
}

.PLATINUM,
.PERFECT,
.HIGH {
    color: #b15eff;
}
