.main {
    font-family: var(--font-mono);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    width: 100%;
}

.numbered_heading::before {
    counter-increment: section;
    content: "0" counter(section) ". ";
    color: var(--accent-color)
}

.numbered_heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.numbered_heading::after {
    display: block;
    content: "";
    height: 1px;
    background-color: var(--accent-color);
}

.link,
.view_cert {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 0.15rem;
    transition-duration: 150ms;
}

.link:hover, .link:active,
.view_cert:hover, .view_cert:active {
    text-underline-offset: 0.25rem;
}

/* Landing Page */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_text h1 {
    font-size: 4rem;
    font-weight: 1000;
    margin-bottom: 1rem;
    color: transparent;
    background: linear-gradient(90deg, rgb(121, 40, 202), rgb(255, 0, 128));
    background-clip: text;
}

.hero_text h2 {
    font-family: var(--font-mono);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero_img {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero_img p {
    margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero_text {
        align-items: center;
    }

    .hero_img {
        display: none;
    }
    
}

/* About Me */
.introduction {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.biography h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.biography p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.introduction ul {
    line-height: 1.5rem;
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* My Achievements */
.achievements {
    margin: 0 auto;
    width: 80%;
}

.achievements h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

.achievements .heading {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

.achievements .item {
    line-height: 2.25rem;
    font-size: 1.2rem;
}

/* Projects */
.projects {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project {
    background: var(--accent-color-dark);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: auto;
    width: 256px;
    height: 256px;
    border-radius: 20px;
}

.credits {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 4rem 0 2rem 0;
    text-decoration: none;
    color: var(--text-color);
}