.main {
    font-family: var(--font-mono);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    width: 80%;
}

.link {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 0.15rem;
    transition-duration: 150ms;
}

.link:hover, .link:active {
    text-underline-offset: 0.25rem;
}

/* Landing Page */
.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.landing h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* About Me */
.introduction {
    display: flex;
    flex-direction: row;
}

.biography h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.biography p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.introduction ul {
    line-height: 1.5rem;
    list-style-type: none;
}

/* My Achievements */
.achievements {
    margin: 0 auto;
}

.achievements h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

.achievements .heading {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

.achievements .item {
    line-height: 2rem;
    font-size: 1.2rem;
}

/* Projects */
.projects {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project {
    background: var(--accent-color-dark);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: auto;
    width: 256px;
    height: 256px;
    border-radius: 20px;
}

.credits {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 4rem 0 2rem 0;
    text-decoration: none;
    color: var(--text-color);
}